<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
      http://xmlns.jcp.org/xml/ns/javaee
      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd" bean-discovery-mode="all">

    <bean name="/UserService"
          class="org.springframework.remoting.caucho.HessianServiceExporter">
        <property name="service" ref="userService" />
        <property name="serviceInterface" value="server.IUserService" />
    </bean>

    <bean id="userService" class="server.UserService" />

</beans>